<!-- 
<div class="margin" *ngFor="let word of displayWords()">{{word}} </div> -->

<!-- <div class="center" *ngFor="let letters of getLetters()">
    <ul class="style" *ngFor="let letter of letters"  >
        <li >{{letter}}</li>
    </ul>
</div> -->

<div class="main">
    
    <div class="container">
        <div class="center" *ngFor="let letters of getLetters()">
            <div class="style" *ngFor="let letter of letters" >
                {{letter}}
            </div>
        </div>
    </div>
        


</div>



