// .main {
//   background-color: green;
//   object-fit: cover;
// }

// .container {
//   display: flex;
//   height: 100vh;
//   flex-direction: column;
//   justify-content: space-around;
//   background-color: orange;
// }

// .center {
//   width: 100%;
//   display: flex;
//   justify-content: space-around;
// }

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
}

.center {
  margin: 0 auto;
}
